.wrapper {
  position: relative;
  /* max-width: 1280px; */
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 0;

  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
