.technology {
  padding: 100px 70px;
  background-color: rgb(245, 245, 245);
}
.technology__title {
  padding: 0 0 24px;
  margin: 0 0 90px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -4%;
  position: relative;
}
.technology__title::before {
  content: '';
  position: absolute;
  background-color: rgb(15, 1, 1);
  width: 100%;
  height: 1px;
  bottom: 0;
}
.technology__content {
  text-align: center;
}
.technology__subtitle {
  margin: 0 0 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -4%;
}
.technology__description {
  margin: 0 0 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -4%;
}
.technology__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.technology__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  min-height: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -4%;
  border-radius: 10px;
  background: rgb(232, 232, 232);
}
@media (max-width: 770px) {
  .technology__description {
    font-size: 12px;
    line-height: 18px;
  }
  .technology__list-item {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 710px) {
  .technology__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
  }
  .technology__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 84px;
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 420px) {
  .technology {
    padding: 70px 18px;
  }
  .technology__title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 28px;
    margin: 0 0 60px;
  }
  .technology__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 24px;
  }
  .technology__description {
    margin: 0 0 50px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
  }
  .technology__list {
  }
  .technology__list-item {
  }
}

@media (max-width: 320px) {
  .technology__list {
    padding: 0 53px;
    justify-content: start;
  }
}
