.search-form {
  padding: 60px 70px 80px;
  background: #ffffff;
  position: relative;
}
.search-form::before {
  content: '';
  position: absolute;
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0;
}
.search-form__container {
  /* height: 46px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(155, 17, 17); */
}
.search-form__input-container {
  margin: 0 0 40px;
  height: 46px;
  padding: 6px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(249, 249, 249);
}
.search-form__tumb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.search-form__input {
  width: 100%;
  font: 400 18px Inter, Arial, sans-serif;
  background-color: rgb(249, 249, 249);
  border-radius: 40px;
  padding: 6px;
}

.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 104, 56);
  border-radius: 48px;
  width: 80px;
  height: 34px;
}

.search-form__icon {
  object-fit: cover;
}

.search-form__short-films {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
}

.search-form__checkbox-container {
  flex: 0 0 auto;
}

.search-form__checkbox-icon {
  box-sizing: border-box;
  display: block;
  width: 34px;
  max-width: initial;
  height: 15px;
}

.search-form__label {
  flex: 0 0 auto;
  margin-left: 13px;
  font: 400 12px Inter, Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  white-space: pre-wrap;
}

.search-form-line {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 1140px;
  height: 1px;
  margin: 40px 70px 10px;
  background: #e8e8e8;
}
.search-form__label-tumb {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}
@media (max-width: 740px) {
  .search-form__input {
    width: 912px;
  }

  .search-form__container {
    margin-bottom: 73px;
  }
}

@media (max-width: 540px) {
  .search-form {
    padding: 0 14px 50px;
  }

  .search-form__input {
    font: 400 14px Inter, Arial, sans-serif;
    padding: 1px 2px 0px 19px;
    width: 100%;
  }
}
