.registration {
  padding: 70px 0;
  margin: 0 auto;
  background: #ffffff;
  max-width: 396px;
}

.registration__logo {
  width: 38px;
  height: 38px;
}
.registration__link {
  display: block;
  margin: 0 0 40px;
}
.registration__message {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 40px;
}

.registration__form {
  display: flex;
  flex-direction: column;
}

.registration__form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration__label {
  display: block;
  margin-bottom: 10px;
  color: rgb(160, 160, 160);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.registration__field {
  position: relative;
}
.registration__input {
  width: 100%;
  height: 46px;
  padding: 0 0 0 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  background: #f9f9f9;
  border-radius: 8px;
}
.registration__input-error {
  position: absolute;
  bottom: -15px;
  left: 0;
  color: rgb(255, 48, 85);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
}

.registration__submit {
  margin: 69px 0 16px;
  width: 100%;
  height: 45px;
  color: #ffffff;
  background: rgb(255, 104, 56);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.registration__submit:disabled {
  color: rgb(194, 194, 194);
  background-color: rgb(248, 248, 248);
}
.registration__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.registration__login-text {
  color: rgb(160, 160, 160);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.registration__login-link {
  color: rgb(255, 104, 56);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
@media (max-width: 780px) {
  .registration {
    padding: 232px 0;
  }
}

@media (max-width: 510px) {
  .registration {
    padding: 56px 0 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .registration__link {
    margin: 0 0 50px;
  }
  .registration__message {
    margin: 0 0 80px;
  }
  .registration__submit {
    font-size: 12px;
    line-height: 15px;
  }
}
