.movies {
  padding: 70px 70px 80px;
}
.movies__card-list {
  margin: 0 0 70px;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 20px;
}
.movies__more-btn {
  height: 36px;
  width: 100%;
  border-radius: 6px;
  background: rgb(249, 249, 249);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
}
@media (max-width: 910px) {
  .movies {
    padding: 80px 30px;
  }
  .movies__card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (max-width: 480px) {
    .movies {
        padding: 40px 10px 80px;
      }
    .movies__card-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }
}
